<div class="view jarallax" style="background-color: #31434E; background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <!-- Content -->

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-auto white-text text-center">
          <button mdbBtn type="button" style="background-color:#576D7A" mdbWavesEffect>Select Drive</button>
        </div>

        <div class="col-md-auto white-text text-center">
          <button mdbBtn type="button" style="background-color:#576D7A" mdbWavesEffect>Select Image</button>
        </div>

        <div class="col-md-auto white-text text-center">
          <button mdbBtn type="button" style="background-color: #449CC6" mdbWavesEffect>Create Party Hat</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>